[Unit]
Description=4soulsband_wordpress_daily_backup
After=network.target

[Service]
Type=oneshot

User=root
Group=root

WorkingDirectory=/home/ubuntu/wordpress-docker
ExecStart=/home/ubuntu/wordpress-docker/4soulsband_wordpress_backup.sh daily 7 mysql_db_name mysql_user mysql_password debug

[Install]
WantedBy=multi-user.target
